/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #2EB234;   
    font-family: arial; 
}

 /* Flash Message */
.error {
    background-color: #F2DEDD;
    color: #b22e2b;
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    width: 270px;
    height: 40px;
    margin: 0 auto;
    border-radius: 7px;
    border: solid 1px #b22e2b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.success {
    background-color: #DAECF7;
    color: #42a5c9;
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    width: 270px;
    height: 40px;
    margin: 0 auto;
    border-radius: 7px;
    border: solid 1px #42a5c9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.6; /* Firefox */
}


  ::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
}

input {
    -webkit-appearance: none;
}