// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// transaction history page 

.transaction_history_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 375px;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.pending_label {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 2%;
}

.past_label {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 2%;
}

.pending_body {
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 125px;
}

.past_body {
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.transaction_row {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 375px;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    margin-bottom: 13px;
    padding-left: 2%;
}

.approve {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    margin-left: 10px;
}

.row_right {
    display: flex;
    align-items: center;
}

.placeholder {
    display: inline-block;
    height: 10px;
    width: 74px;
}

// new transaction page

.new_transaction_container {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
    height: 100vh;
    // justify-content: center;
    align-items: center;
}

.number_input_container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;    
    height: 340px;
}

.amount_input {
    width: 33.33%;
    text-align: center;
    display: flex;
	align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
}

.amount_display {
    text-align: center;
    color: white;
    font-size: 52px;
}

.transaction_buttons {
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.transaction_buttons input {
    background-color: #2EB234;
    color: white;
    border: solid 2px white;
    font-size: 20px;
    width: 103px;
    border-radius: 5px;
}

#transaction_target_username {
    width: 180px;    
    background-color: #2EB234;
    border: 0px;
    border-bottom: 2px solid white;
    outline: none;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 40px;
    margin-top: 110px;
}