// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.username {
    font-size: 32px;
    color: white;
}

.current_balance {
    font-size: 64px;
    color: white;
}

.current_balance_label {
    font-size: 32px;
    color: white;
}